#_stripe {
  display: none;
}

#_head {
  background: #235;
  border: 0 solid #000;
  border-width: 1px 0;
}

#_head>._panel {
  padding: 0.5em 1em;
}

#_scrolled {
  padding-top: 4.8em;
}

#_scrolled>#_stripe {
  position: fixed;
  z-index: 8;
  display: block;
  width: 100%;
  height: 1px;
  top: 0;
  background: #e50;
}

#_scrolled>#_head {
  position: fixed;
  top: 1px;
  width: 100%;
  z-index: 8;
}

#_scrolled>#_fork {
  position: fixed;
  z-index: 9;
}

#_logo {
  display: inline-block;
  font-size: 1em;
  font-weight: 400;
  color: #fff;
  text-shadow: 0.02em 0.04em 0.01em #000;
}

h1 {
  margin: 0 0 0 -0.3em;
  font-size: 1.8em;
}

#_logo img {
  display: inline-block;
  width: 2em;
  height: 2em;
  margin: 0 0.2em 0 0;
  vertical-align: middle;
}

#_logo u {
  font-weight: 300;
  opacity: 0.6;
  padding: 0.1em 0.3em;
  font-size: 0.9em;
  text-decoration: none;
}

#_body {
  background: #f8f8f8;
}

#_features,
#_badges {
  background: #fc0;
  border-bottom: 1px solid #999;
  font-size: 1.2em;
}

#_badges,
#_badges a {
  line-height: 0.9;
}

#_badges {
  background: #abc;
  border-bottom: 1px solid #999;
  font-size: 0.1em;
}

#_badges>._panel {
  text-align: right;
  padding: 0.2em 0.8em;
}

#_badges a {
  vertical-align: top;
  display: inline-block;
  padding: 0.2em 0;
}

#_badges img {
  height: 1em;
}

#_foot {
  color: #555;
  font-size: 1.2em;
}

#_foot b {
  color: #666;
}

#_foot a {
  color: #349;
}

#_lighterio img {
  vertical-align: top;
  width: 1.3em;
  height: 1.3em;
}

._set, ._section {
  clear: both;
}

br {
  clear: both;
}

._area {
  margin: -1em;
  clear: both;
}

._box, ._box12 {
  padding: 1em;
}

._box1, ._box2, ._box3,
._box4, ._box5, ._box6,
._box7, ._box8, ._box9,
._box10, ._box11 {
  float: left;
  padding: 1em;
}

._box1 { width: 8.33%; }
._box2 { width: 16.67%; }
._box3 { width: 25%; }
._box4 { width: 33.33%; }
._box5 { width: 41.67%; }
._box6 { width: 50%; }
._box7 { width: 58.33%; }
._box8 { width: 66.67%; }
._box9 { width: 75%; }
._box10 { width: 83.33%; }
._box11 { width: 91.67%; }

._right { float: right; }

._alignRight { text-align: right; }

#_fork {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
}

#_fork img {
  width: 6em;
  height: 6em;
}
